# Multiple Linear Regression

# Importing the libraries

In [10]:
import os
import numpy as np
import pandas as pd
import warnings
warnings.filterwarnings("ignore")
from sklearn.preprocessing import StandardScaler 
from sklearn.linear_model import SGDRegressor

# Importing the dataset

In [11]:
dataset = pd.read_csv("insurance.csv")
dataset

      age     bmi  children      charges
0      19  27.900         0  16884.92400
1      18  33.770         1   1725.55230
2      28  33.000         3   4449.46200
3      33  22.705         0  21984.47061
4      32  28.880         0   3866.85520
...   ...     ...       ...          ...
1333   50  30.970         3  10600.54830
1334   18  31.920         0   2205.98080
1335   18  36.850         0   1629.83350
1336   21  25.800         0   2007.94500
1337   61  29.070         0  29141.36030

[1338 rows x 4 columns]

In [12]:
x_train = dataset.iloc[:,:3]
x_train.head()

   age     bmi  children
0   19  27.900         0
1   18  33.770         1
2   28  33.000         3
3   33  22.705         0
4   32  28.880         0

In [13]:
y_train = dataset.charges
y_train.head()

0    16884.92400
1     1725.55230
2     4449.46200
3    21984.47061
4     3866.85520
Name: charges, dtype: float64

In [14]:
s = StandardScaler()
x_train = s.fit_transform(x_train)

In [15]:
sgd = SGDRegressor()
sgd_fit = sgd.fit(x_train, y_train)

In [16]:
score = sgd.score(x_train,y_train)
print("R-sq: ",score)

R-sq:  0.11992992206971553

In [17]:
sgd.coef_

array([3385.13208946, 2150.0493096 ,  561.15680625])

In [18]:
import pickle
with open("InsuranceModel.pkl", "wb") as pickle_out:
    pickle.dump(sgd, pickle_out)