In [20]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [58]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import SGDRegressor
from sklearn.metrics import mean_absolute_error, mean_squared_error, r2_score

# Step 1: Data Loading
data = pd.read_csv('data.csv')

# Step 2: Data Preprocessing
data.dropna(inplace=True)  # Remove rows with missing values

# Handle non-numeric values ('?') in the 'horsepower' column by replacing them with NaN
data['horsepower'] = pd.to_numeric(data['horsepower'], errors='coerce')

# Drop rows with NaN values in any column
data.dropna(inplace=True)

# Step 4: Feature Selection
selected_features = ['cylinders', 'displacement', 'horsepower', 'weight', 'acceleration', 'year']
X = data[selected_features]
y = data['Kilometer_per_liter']

# Step 5: Data Splitting
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)

# Step 6: Model Development
model = SGDRegressor(max_iter=1000, random_state=42)
model.fit(X_train, y_train)

# Step 7: Model Evaluation
y_pred = model.predict(X_test)
mae = mean_absolute_error(y_test, y_pred)
mse = mean_squared_error(y_test, y_pred)
rmse = mean_squared_error(y_test, y_pred, squared=False)
r2 = r2_score(y_test, y_pred)

print("Mean Absolute Error:", mae)
print("Mean Squared Error:", mse)
print("Root Mean Squared Error:", rmse)
print("R-squared (R2) Score:", r2)
data

Mean Absolute Error: 6689676495189056.0
Mean Squared Error: 4.485762695045467e+31
Root Mean Squared Error: 6697583665058218.0
R-squared (R2) Score: -4.6910435252807235e+30

,origin,cylinders,displacement,horsepower,weight,acceleration,year,name,Kilometer_per_liter
0,1,8,307.0,130.0,3504,12.0,1970,chevrolet chevelle malibu,7.652587
1,1,8,350.0,165.0,3693,11.5,1970,buick skylark 320,6.377156
2,1,8,318.0,150.0,3436,11.0,1970,plymouth satellite,7.652587
3,1,8,304.0,150.0,3433,12.0,1970,amc rebel sst,6.802299
4,1,8,302.0,140.0,3449,10.5,1970,ford torino,7.227443
...,...,...,...,...,...,...,...,...,...
393,1,4,140.0,86.0,2790,15.6,1982,ford mustang gl,11.478880
394,2,4,97.0,52.0,2130,24.6,1982,vw pickup,18.706323
395,1,4,135.0,84.0,2295,11.6,1982,dodge rampage,13.604599
396,1,4,120.0,79.0,2625,18.6,1982,ford ranger,11.904024
397,1,4,119.0,82.0,2720,19.4,1982,chevy s-10,13.179455