<table align="center" width=100%>
    <tr>
        <td width="15%">
            <img src="inclass.png">
        </td>
        <td>
            <div align="center">
                <font color="#21618C" size=8px>
                    <b> In Class
                    </b>
                </font>
            </div>
        </td>
    </tr>
</table>

**Import the required libraries**

### Let's begin with some hands-on practice exercises

**Huge Fruit Basket (HFB) is a grocery shop that sells fruits. It is observed that 20% of their customers complain about the fruits purchased by them for many reasons (bad quality, foul smell and less quantity). On Friday, 30 customers purchased fruits from HFB.**

<table align="left">
    <tr>
        <td width="6%">
            <img src="scala_q.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>1. Calculate the probability that exactly 10 customers will complain about the purchased products.
</b>
                </font>
            </div>
        </td>
    </tr>
</table>

<table align="left">
    <tr>
        <td width="6%">
            <img src="scala_q.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b> 2. Create a list of all possible number of successes (0 to 15) and corresponding Probability Mass Funcrion (PMF) values and draw a bar plot.
In other words; Calculate the probability that exactly n customers will complain about the purchased products; where n is 0 to 15.</b>
                </font>
            </div>
        </td>
    </tr>
</table>

<table align="left">
    <tr>
        <td width="6%">
            <img src="scala_q.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>3. Calculate the probability that maximum of 10 customers will complain about the fruits purchased by them.
</b>
                </font>
            </div>
        </td>
    </tr>
</table>

<table align="left">
    <tr>
        <td width="6%">
            <img src="scala_q.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>4. Calculate the probability that more than 10 customers will complain about the fruits purchased by them.
</b>
                </font>
            </div>
        </td>
    </tr>
</table>

<table align="left">
    <tr>
        <td width="6%">
            <img src="scala_q.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>5. Find the average number of customers who are likely to complain about the fruits. Also find the variance of the number of complaints.
</b>
                </font>
            </div>
        </td>
    </tr>
</table>

**The number of customer returns in a retail chain per day follows a poisson distribution at a rate of 25 returns per day.**

<table align="left">
    <tr>
        <td width="6%">
            <img src="scala_q.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>6. Calculate the probability that the number of returns exceeds 30 in a day.
</b>
                </font>
            </div>
        </td>
    </tr>
</table>

<table align="left">
    <tr>
        <td width="6%">
            <img src="scala_q.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>7. The IQ of students follows normal distribution with mean 95 and variance 10. What is the probability that the any student selected at random will have IQ more than 102? 
</b>
                </font>
            </div>
        </td>
    </tr>
</table>

<table align="left">
    <tr>
        <td width="6%">
            <img src="scala_q.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>8. The number of road accidents on the day follow Poisson distribution with mean equals to 3. What is the probability that on a day exactly 1 accident will happen?              
</b>
                </font>
            </div>
        </td>
    </tr>
</table>

<table align="left">
    <tr>
        <td width="6%">
            <img src="scala_q.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>9. Consider the following data does it follow a normal distribution?.
</b>
                </font>
            </div>
        </td>
    </tr>
</table>

    75, 97, 70, 25, 80, 40, 82, 72, 82, 46, 72, 64, 24, 66, 78, 34, 37,
    64, 75, 94, 76, 96, 88, 37, 29, 51, 67, 45, 69, 59, 81, 66, 30, 52,
    66, 85, 80, 74, 69, 83, 66, 84, 76, 73, 77, 85, 72, 71, 71, 75, 59,
    84, 65, 64, 86, 58, 85, 61, 79, 61, 68, 61, 60, 78, 76, 80, 57, 75

<table align="left">
    <tr>
        <td width="6%">
            <img src="scala_q.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>10. Consider three coins are tossed simultaneously.<br>
                    1) How many outcomes have at least two heads?<br>
                    2) What is the probability of the this event?<br>
</b>
                </font>
            </div>
        </td>
    </tr>
</table>

Let H: Head of the coin tossed
and T: Tail of the coin tossed

Three coins tossed simultaneously have the following outcomes:
{HHH, HHT, HTH, THH, HTT, THT, TTH, TTT}

<table align="left">
    <tr>
        <td width="6%">
            <img src="scala_q.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>11. A textile industry observed that on an average its employees can stitch 34 garment on a particular day with variance 3. What are minimum and maximum number of garments that can be produced?
</b>
                </font>
            </div>
        </td>
    </tr>
</table>

<table align="left">
    <tr>
        <td width="6%">
            <img src="scala_q.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>12. A telecom industry is keen to know the call duration of its customers to introduce new prepaid plans. The data for call duration in minutes is given as follows:<br>
    Call duration (in minutes):
    23, 03, 13, 04, 45, 35, 48, 98, 65, 45, 75, 24, 15, 25, 34, 17, 16, 17, 19<br><br>
Obtain the descriptive statistics of the data.
</b>
                </font>
            </div>
        </td>
    </tr>
</table>

**ClickDart is an e-commerce company. It claims that the product will be delivered within 30 days of placing the order. The data is given below that contains the delivery time of 40 products. The population mean is 30 and the population standard deviation of the delivery time is 12.5 days.**

data = [16.0, 16.0, 30.0, 37.0, 25.0, 22.0, 19.0, 35.0, 27.0, 32.0,
34.0, 28.0, 24.0, 35.0, 24.0, 21.0, 32.0, 29.0, 24.0, 35.0,
28.0, 29.0, 18.0, 31.0, 28.0, 33.0, 32.0, 24.0, 25.0, 22.0,
21.0, 27.0, 41.0, 23.0, 23.0, 16.0, 24.0, 38.0, 26.0, 28.0]

<table align="left">
    <tr>
        <td width="6%">
            <img src="scala_q.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>13. Calculate the mean and standard deviation of these observations and check if calculate Z-statistics can be applied or not
</b>
                </font>
            </div>
        </td>
    </tr>
</table>

<table align="left">
    <tr>
        <td width="6%">
            <img src="scala_q.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>14. Conduct a hypothesis test at significance level a = 0.05 to verify the claim made by the e-commerce company 'ClickDart'.
</b>
                </font>
            </div>
        </td>
    </tr>
</table>

**Glitch Productions (GP) is a newly formed movie production house based out of Atlanta. GP was interested in understanding the production cost required for producing a Hollywood movie. The industry believes that the production house will require
70 million dollars on average. It is assumed that the Hollywood movie production cost follows a normal distribution. The production costs of 40 Hollywood movies in millions of dollars are given below.**

data = [81, 89, 53, 56, 77, 58, 78, 45, 62, 55, 72, 8,
10, 16, 8, 33, 36, 32, 66, 62, 48, 84, 67, 91, 62, 46, 
89, 99, 92, 77, 29, 66, 44, 26, 66, 67,25, 35, 57, 63]

<table align="left">
    <tr>
        <td width="6%">
            <img src="scala_q.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>15. Conduct an appropriate hypothesis test at a = 0.05 to check whether the belief about average production cost is correct.<br>
</b>
                </font>
            </div>
        </td>
    </tr>
</table>

**Consider the below image for the questions 16 and 17**
<img src="image.png">

<table align="left">
    <tr>
        <td width="6%">
            <img src="scala_q.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>16. What is the probability that a girl is chosen given that she likes Pizza?
</b>
                </font>
            </div>
        </td>
    </tr>
</table>

<table align="left">
    <tr>
        <td width="6%">
            <img src="scala_q.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>17. What is the probability that a boy likes both the dishes?
</b>
                </font>
            </div>
        </td>
    </tr>
</table>

<table align="left">
    <tr>
        <td width="6%">
            <img src="scala_q.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>18. What is the probability that the favourite dish for both boys and girls is sizzlers?
</b>
                </font>
            </div>
        </td>
    </tr>
</table>

<table align="left">
    <tr>
        <td width="6%">
            <img src="scala_q.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>19. What is the probability that the favourite food is Pizza given that he is a boy?
</b>
                </font>
            </div>
        </td>
    </tr>
</table>

<table align="left">
    <tr>
        <td width="6%">
            <img src="scala_q.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>20. An experiment to study obesity in male workers shows that the average BMI for 36 workers is 23.79. While rechecking the forms, it was noticed that the BMI of a worker was misread as 21.32 instead of 27.32. Find the correct average BMI.
</b>
                </font>
            </div>
        </td>
    </tr>
</table>

<table align="left">
    <tr>
        <td width="6%">
            <img src="scala_q.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>21. Write a function that returns the type of skewness in the given data.
</b>
                </font>
            </div>
        </td>
    </tr>
</table>

Consider the age of 15 students enrolled in data science program.

age = [22, 29, 24, 32, 37, 26, 25, 45, 28, 22, 39, 47, 23, 36, 43]

**Hint:** Use the `skew()` from scipy library.

<table align="left">
    <tr>
        <td width="6%">
            <img src="scala_q.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>22.  A machine produced, on average, 40 paperclips in 10 days. Observation for one of the days is missing from the data. Find the missing observation to identify the day on which the machine produced the highest number of paperclips.
</b>
                </font>
            </div>
        </td>
    </tr>
</table>

Consider the number of paperclips produced by a machine in 10 days. 'x' denotes missing data. 

num_clips = [41, 35, 42, x, 46, 34, 32, 47, 44, 39]

<table align="left">
    <tr>
        <td width="6%">
            <img src="scala_q.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>23. Consider the height of 12 students in a class. Obtain the range of height for the middle 50% of the data.
</b>
                </font>
            </div>
        </td>
    </tr>
</table>

Consider the height of 12 students in a class.

height (cm) = [162, 158, 149, 167, 162, 154, 172, 160, 164, 159, 175, 163]

<table align="left">
    <tr>
        <td width="6%">
            <img src="scala_q.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>24. The ratings of the movies selected for an award are negatively skewed with Karl Pearson's coefficient of skewness as -0.46. The average rating is 3.52, with a standard deviation of 1.7. Find the median rating of the movies.
</b>
                </font>
            </div>
        </td>
    </tr>
</table>

<table align="left">
    <tr>
        <td width="6%">
            <img src="scala_q.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>25. A study reports the monthly count of new subscribers of bloggers; Sheldon, Ross and Joey for a year. Find out who has more consistency in the number of new subscribers?
</b>
                </font>
            </div>
        </td>
    </tr>
</table>

The count of new subscribers (in thousands) is given below:

<table>
    <tr>
        <th> Month </th>
        <th> Sheldon </th>
        <th> Ross </th>
        <th> Joey </th>
    </tr>
     <tr>
        <td> Jan </td>
        <td> 3 </td>
        <td> 4 </td>
        <td> 4.3 </td>
    </tr>
    <tr>
        <td> Feb </td>
        <td> 5.1 </td>
        <td> 4.6</td>
        <td> 4 </td>
    </tr>
    <tr>
        <td> Mar </td>
        <td> 2.9 </td>
        <td> 3.1 </td>
        <td> 4.5 </td>
    </tr>
    <tr>
        <td> Apr </td>
        <td> 3.7 </td>
        <td> 4.2 </td>
        <td> 5.1 </td>
    </tr>
    <tr>
        <td> May </td>
        <td> 4.2 </td>
        <td> 5.4 </td>
        <td> 6 </td>
    </tr>
    <tr>
        <td> Jun </td>
        <td> 4.2 </td>
        <td> 3.4 </td>
        <td> 5 </td>
    </tr>
    <tr>
        <td> July </td>
        <td> 4.3 </td>
        <td> 5 </td>
        <td> 4.8 </td>
    </tr>
    <tr>
        <td> Aug </td>
        <td> 5.2 </td>
        <td> 6.2 </td>
        <td> 5.4 </td>
    </tr>
    <tr>
        <td> Sept </td>
        <td> 3.7 </td>
        <td> 4.2 </td>
        <td> 5.1 </td>
    </tr>
    <tr>
        <td> Oct </td>
        <td> 4.4 </td>
        <td> 3.5 </td>
        <td> 6.4 </td>
    </tr>
    <tr>
        <td> Nov </td>
        <td> 5.2 </td>
        <td> 4.1 </td>
        <td> 4.2 </td>
    </tr>
    <tr>
        <td> Dec </td>
        <td> 3.4 </td>
        <td> 5.5 </td>
        <td> 3.4 </td>
    </tr>
</table>

<table align="left">
    <tr>
        <td width="6%">
            <img src="scala_q.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>26. It has been claimed from past observations that the average diameter of bolts from a manufacturing process is 1.25 cm. Based on the collected sample of size 150, is there evidence to suggest that the average diameter is not 1.25 cm?
</b>
                </font>
            </div>
        </td>
    </tr>
</table>

Diameter of bolts:
    0.89, 1.39, 1.29, 1.36, 1.39, 1.44, 1.24, 0.82, 1.25, 0.85, 0.75, 1.34, 0.84, 1.27, 1.04, 1.36, 1.18, 
    1.49, 1.54, 0.83, 1.11, 1.14, 1.3 , 0.99, 1.21, 1.51, 1.02, 1.19, 1.05, 1.23, 0.76, 0.81, 0.92, 0.82, 
    1.64, 1.02, 1.61, 1.2, 1.17, 1.61, 1.23, 1.11, 1.17, 1.63, 1.33, 1.07, 0.94, 1.53, 1.38, 0.8 , 0.95, 
    1.4 , 1.09, 1.32, 1.43, 1.12, 1.2 , 0.94, 0.98, 1.54, 1.21, 1.4 , 1.13, 0.75, 1.02, 0.99, 1.49, 1.34, 
    1.57, 1.51, 1.42, 1.27, 0.78, 1.52, 1.5 , 1.13, 1.17, 1.17, 1.21, 1.14, 1.23, 1.46, 1.62, 1.11, 1.28, 
    1.25, 1.48, 0.76, 1.45, 1.38, 1.15, 0.95, 1.13, 1.24, 1.41, 1.38, 0.86, 1.39, 1.57, 1.32, 1.43, 1.55, 
    0.89, 1.06, 1.27, 1.46, 0.94, 1.53, 0.87, 1.47, 1.04, 1.12, 1.09, 1.45, 1.37, 1.18, 1.22, 1.29, 1.28, 
    1.59, 1.06, 1.49, 1.01, 1.31, 1.21, 1.32, 1.59, 0.85, 1.06, 0.82, 1.31, 1.32, 1.05, 1.6 , 0.87, 0.85, 
    1.13, 1.55, 1.15, 1.11, 1.58, 1.47, 1.52, 1.31, 1.16, 1.12, 0.85, 1.61, 1.42, 1.61

<table align="left">
    <tr>
        <td width="6%">
            <img src="scala_q.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>27. Tesco Pharma claims to have produced a new drug which reduces the systolic Blood Pressure after usage of a week.

The BP of 8 patients are recorded before medication and after medication. Do the data suggest that the drug is effective in reducing the systolic blood pressure?
</b>
                </font>
            </div>
        </td>
    </tr>
</table>

<table>
    <tr>
        <th>Before</th>	
            <th>After</th>
            </tr>
    <tr>
        <td>90</td>
        <td>85</td>
    </tr>
    <tr>
        <td>85</td>
        <td>87</td>
    </tr>
    <tr>
        <td>78</td>
        <td>82</td>
    </tr>
     <tr>
        <td>88</td>
        <td>83</td>
    </tr>
    <tr>
        <td>90</td>
        <td>82</td>
    </tr>
    <tr>
        <td>100</td>
        <td>99</td>
    </tr>
    <tr>
        <td>92</td>
        <td>94</td>
    </tr>
    <tr>
        <td>81</td>
        <td>78</td>
    </tr>
       </table>

<table align="left">
    <tr>
        <td width="6%">
            <img src="scala_q.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>28. A researcher at BioSeed limited, claims to have modified the existing seed. The yeild for the two types of seeds is recorded for 10 equally sized farms. Is there enough evidence to claim that the there is no difference in the yeild due to the seed type?
</b>
                </font>
            </div>
        </td>
    </tr>
</table>

Yield due to Ordinary Seed:
450, 340, 562, 563, 234, 546, 876, 649, 736, 745

Yield due to Modified Seed:
345, 576, 675, 674, 865, 457, 776, 567, 568, 753

<table align="left">
    <tr>
        <td width="6%">
            <img src="scala_q.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>29. Draw a random sample using np.random.random() of size 7000. Test whether the data follows normal distribution.
</b>
                </font>
            </div>
        </td>
    </tr>
</table>

<table align="left">
    <tr>
        <td width="6%">
            <img src="scala_q.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>30. Assume that in a MCQ test, there are 10 questions, and each question has four options out which only one is correct. Steve knew answers to only 2 questions and has randomly marked answers for other questions. To pass the test one must answer 4 questions correctly. What is the probability that steve will pass?
</b>
                </font>
            </div>
        </td>
    </tr>
</table>