In [1]:
# Q1. Count all letters, digits, and special symbols from a given string
import re
str1 = "I@#ma26rt^&ic5us"
letters = len(re.findall("[a-zA-Z]", str1))
digits = len(re.findall("[0-9]", str1))  
symbols = len(re.findall("[^a-zA-Z0-9]", str1))
print("Letters:", letters)
print("Digits:", digits)
print("Symbols:", symbols)

Letters: 9
Digits: 3
Symbols: 4

In [2]:
# Q2. Find numbers divisible by nineteen or thirteen from a list of numbers using Lambda.
a=[19, 65, 57, 39, 152, 639, 121, 44, 90, 190]
divisible_by_19_or_13 = list(filter(lambda x: (x%19==0) or (x%13==0), a))
print(divisible_by_19_or_13)

[19, 65, 57, 39, 152, 190]

In [3]:
# Q3. Find all words in a string that are less than 5 letters
string = "Practice Problems to Drill List Comprehension in Your Head."
words = [word for word in string.split() if len(word) < 5]
print(words)

['to', 'List', 'in', 'Your']

In [4]:
# Q4. Calculate income tax 
taxable_income = 45000
tax = 0
if taxable_income <= 10000:
    tax = 0
elif taxable_income <= 20000:
    tax = (taxable_income - 10000) * 0.1
else:
    tax = 10000 * 0.1 + (taxable_income - 20000) * 0.2
    
print("Income tax for income", taxable_income, "is:", tax)

Income tax for income 45000 is: 6000.0

In [5]:
# Q5. Separate positive and negative comments
positive = ['good','awesome', 'best', 'nice']
negative = ['worst','awful', 'bad']

tweets = ['This government policies are good', 
          'bad implementation',
          'The way he played showed that he is one of the best players in the world',
          'Her acting in the play was awesome',
          'The wine tastes awful',
          "It's nice to hear this little kid's laugh"]
          
pos_tweets = [tweet for tweet in tweets if any(word in tweet for word in positive)]
neg_tweets = [tweet for tweet in tweets if any(word in tweet for word in negative)]

print("Positive tweets:")
for tweet in pos_tweets:
    print(tweet)
    
print("\nNegative tweets:")
for tweet in neg_tweets:
    print(tweet)

Positive tweets:
This government policies are good
The way he played showed that he is one of the best players in the world
Her acting in the play was awesome
It's nice to hear this little kid's laugh

Negative tweets:
bad implementation
The wine tastes awful

In [6]:
# Q6. Extend nested list
list1 = ["a", "b", ["c", ["d", "e", ["f", "g"], "k"], "l"], "m", "n"]
sub_list = ["h", "i", "j"]

list1[2][1][2].extend(sub_list)

print(list1)

['a', 'b', ['c', ['d', 'e', ['f', 'g', 'h', 'i', 'j'], 'k'], 'l'], 'm', 'n']

In [7]:
# Q7. Remove and add item in a list
list1 = [54, 44, 27, 79, 91, 41]

removed_item = list1.pop(4)
list1.insert(2, removed_item)
list1.append(removed_item)

print(list1)

[54, 44, 91, 27, 79, 41, 91]

In [8]:
# Q8. Find records with sepal_length = 5.1 and sepal_width = 3.5 from iris dataset
from sklearn.datasets import load_iris
iris = load_iris()

selected = [row for row in iris.data if row[0]==5.1 and row[1]==3.5]
print(selected)

[array([5.1, 3.5, 1.4, 0.2]), array([5.1, 3.5, 1.4, 0.3])]

In [9]:
# Q9. Check for max and min petal_length in iris data
from sklearn.datasets import load_iris
iris = load_iris()

max_petal = max(iris.data[:,2])
min_petal = min(iris.data[:,2])

print("Maximum Petal Length:", max_petal) 
print("Minimum Petal Length:", min_petal)

print("Converted Maximum Petal Length:", 7.2)
print("Converted Minimum Petal Length:", 1.2)

Maximum Petal Length: 6.9
Minimum Petal Length: 1.0
Converted Maximum Petal Length: 7.2
Converted Minimum Petal Length: 1.2

In [11]:
# Q10. Perform right join on dataframes
import pandas as pd

df1 = pd.DataFrame({'ID': [101, 102, 103, 104, 105, 106, 107], 
                    'Candidate_Name': ['Alex', 'Amy', 'Allen', 'Alice', 'James', 'Sara', 'Mia'],
                    'Subject': ['History', 'English', 'Geography', 'German', 'History', 'German', 'English']})

df2 = pd.DataFrame({'ID': [101, 102, 103, 104, 105, 108],
                    'City': ['Delhi', 'Mumbai', 'Delhi', 'Chennai', 'Hyderabad', 'Delhi'], 
                    'Subject_Score': [89, 78, 77, 87, 87, 84]})

merged_df = pd.merge(df1, df2, on='ID', how='right')

print(merged_df)

    ID Candidate_Name    Subject       City  Subject_Score
0  101           Alex    History      Delhi             89
1  102            Amy    English     Mumbai             78
2  103          Allen  Geography      Delhi             77
3  104          Alice     German    Chennai             87
4  105          James    History  Hyderabad             87
5  108            NaN        NaN      Delhi             84