In [12]:
import pandas as pd
# import numpy as np
from warnings import filterwarnings
import seaborn as sns
filterwarnings('ignore')

In [13]:
data = pd.read_csv('TaxiFare.csv')
data.head(5)

,unique_id,amount,date_time_of_pickup,longitude_of_pickup,latitude_of_pickup,longitude_of_dropoff,latitude_of_dropoff,no_of_passenger
0,26:21.0,4.5,2009-06-15 17:26:21 UTC,-73.844311,40.721319,-73.841610,40.712278,1
1,52:16.0,16.9,2010-01-05 16:52:16 UTC,-74.016048,40.711303,-73.979268,40.782004,1
2,35:00.0,5.7,2011-08-18 00:35:00 UTC,-73.982738,40.761270,-73.991242,40.750562,2
3,30:42.0,7.7,2012-04-21 04:30:42 UTC,-73.987130,40.733143,-73.991567,40.758092,1
4,51:00.0,5.3,2010-03-09 07:51:00 UTC,-73.968095,40.768008,-73.956655,40.783762,1

In [24]:
features = data.drop(columns=['unique_id'])
target = data['amount']

In [1]:
cm = features.corr()
sns.heatmap(cm, linewidths=.64,annot=True,cmap='Pastel2')

NameError: name 'features' is not defined