# Problem Statement:
### Given the e-commerce data, use k-means clustering algorithm to cluster customers with similar interest.

In [1]:
# Using KMeans Clustring Algorithm

## Importing Dependencies

In [2]:
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from warnings import filterwarnings
filterwarnings('ignore')

## Reading Dataset

In [8]:
data = pd.read_excel('cust_data.xlsx')

In [9]:
data.sample(10)

,Cust_ID,Gender,Orders,Jordan,Gatorade,Samsung,Asus,Udis,Mondelez International,Wrangler,...,LG,Dior,Scabal,Tommy Hilfiger,Hollister,Forever 21,Colavita,Microsoft,Jiffy mix,Kraft
11841,11842,F,0,0,0,1,0,0,0,0,...,0,0,1,1,0,0,0,0,1,1
14530,14531,F,2,0,0,2,0,0,0,0,...,0,1,1,0,0,0,1,0,0,0
17518,17519,M,7,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
17874,17875,F,1,0,0,0,0,0,1,0,...,0,2,0,0,0,0,0,0,0,0
1853,1854,F,9,0,0,5,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
24803,24804,M,8,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5505,5506,F,1,0,0,0,0,2,0,0,...,0,0,0,0,0,0,0,0,0,0
23056,23057,F,9,0,0,0,0,0,0,0,...,0,0,3,0,0,0,0,1,0,0
1169,1170,F,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5483,5484,F,6,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0