In [1]:
import numpy as np
import pandas as pd

In [2]:
age_series = pd.Series([10,20,30,40,50])
print(age_series)
age_series_np = pd.Series(np.array([60,70,80,90,100]))
print(age_series_np)

0    10
1    20
2    30
3    40
4    50
dtype: int64
0     60
1     70
2     80
3     90
4    100
dtype: int32

In [3]:
emp_series = pd.Series([100,200,300,400,500], index = np.arange(6,11))
print(emp_series)

6     100
7     200
8     300
9     400
10    500
dtype: int64

In [4]:
emp_series = pd.Series(np.array([200,400,600,800]), index=['A','B','C','D'])
print(emp_series)

A    200
B    400
C    600
D    800
dtype: int32

In [5]:
prod_dict = {'Dairy': 10, 'Soft Drinks': 20, 'Fruits':30, 'Vegetables':40}
prod_series = pd.Series(prod_dict)
print(prod_series)

Dairy          10
Soft Drinks    20
Fruits         30
Vegetables     40
dtype: int64

In [6]:
classes_dict = {"X": ["Maths", "Science", "English"], "Y": ["Hindi", "Punjabi"], "Z": "Economics"}
classes_series = pd.Series(classes_dict)
print(classes_series)

X    [Maths, Science, English]
Y             [Hindi, Punjabi]
Z                    Economics
dtype: object

In [7]:
print(classes_series.index)
print(classes_series.values)

Index(['X', 'Y', 'Z'], dtype='object')
[list(['Maths', 'Science', 'English']) list(['Hindi', 'Punjabi'])
 'Economics']

In [8]:
emp_series = pd.Series(np.array(np.arange(0,12)))
print(emp_series[:5])
print(emp_series[-3:])

0    0
1    1
2    2
3    3
4    4
dtype: int32
9      9
10    10
11    11
dtype: int32

In [9]:
print(classes_series['Y'])
print(classes_series[['X', 'Z']])

['Hindi', 'Punjabi']
X    [Maths, Science, English]
Z                    Economics
dtype: object

In [10]:
print(emp_series[emp_series > 6])

7      7
8      8
9      9
10    10
11    11
dtype: int32

In [11]:
print(age_series)
print(age_series*2)

0    10
1    20
2    30
3    40
4    50
dtype: int64
0     20
1     40
2     60
3     80
4    100
dtype: int64

In [12]:
a_series = pd.Series([2,4,6])
b_series = pd.Series([3,5,7])
c_series = a_series.multiply(b_series)
print(c_series)
d_series = a_series+b_series
print(d_series)

0     6
1    20
2    42
dtype: int64
0     5
1     9
2    13
dtype: int64

In [13]:
score = pd.Series([3,1,7,2,np.nan,6,8,4,9,5])
print(score.rank())

0    3.0
1    1.0
2    7.0
3    2.0
4    NaN
5    6.0
6    8.0
7    4.0
8    9.0
9    5.0
dtype: float64

In [14]:
print(score)
print(score.sort_values(ascending = True, na_position='last'))

0    3.0
1    1.0
2    7.0
3    2.0
4    NaN
5    6.0
6    8.0
7    4.0
8    9.0
9    5.0
dtype: float64
1    1.0
3    2.0
0    3.0
7    4.0
9    5.0
5    6.0
2    7.0
6    8.0
8    9.0
4    NaN
dtype: float64

In [15]:
print(score.sort_values(ascending = False, na_position='first'))

4    NaN
8    9.0
6    8.0
2    7.0
5    6.0
9    5.0
7    4.0
0    3.0
3    2.0
1    1.0
dtype: float64

In [16]:
sales_series = pd.Series([1,2,3,4,5], index=[30,40,50,20,10])
print(sales_series.sort_index(ascending = True))

10    5
20    4
30    1
40    2
50    3
dtype: int64

In [17]:
height_series = pd.Series([1,2,3,np.nan,4,5,np.nan,np.nan])
print(height_series.isnull())

0    False
1    False
2    False
3     True
4    False
5    False
6     True
7     True
dtype: bool

In [18]:
print(height_series.notnull())

0     True
1     True
2     True
3    False
4     True
5     True
6    False
7    False
dtype: bool

In [19]:
class1 = pd.Series(np.linspace(start=0, stop=20, num=11))
class2 = pd.Series(np.linspace(start=1, stop=21, num=11))
print(class1, class2)

0      0.0
1      2.0
2      4.0
3      6.0
4      8.0
5     10.0
6     12.0
7     14.0
8     16.0
9     18.0
10    20.0
dtype: float64 0      1.0
1      3.0
2      5.0
3      7.0
4      9.0
5     11.0
6     13.0
7     15.0
8     17.0
9     19.0
10    21.0
dtype: float64

In [20]:
# pd.concat([class1, class2])
print(pd.concat([class1, class2], keys=['Even', 'Odd'], names=['Category', 'Index']))

Category  Index
Even      0         0.0
          1         2.0
          2         4.0
          3         6.0
          4         8.0
          5        10.0
          6        12.0
          7        14.0
          8        16.0
          9        18.0
          10       20.0
Odd       0         1.0
          1         3.0
          2         5.0
          3         7.0
          4         9.0
          5        11.0
          6        13.0
          7        15.0
          8        17.0
          9        19.0
          10       21.0
dtype: float64

In [21]:
# class1.append(class2)
class1.append(class2, ignore_index=True)

C:\Users\anubh\AppData\Local\Temp\ipykernel_9716\1585733366.py:2: FutureWarning: The series.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  class1.append(class2, ignore_index=True)

0      0.0
1      2.0
2      4.0
3      6.0
4      8.0
5     10.0
6     12.0
7     14.0
8     16.0
9     18.0
10    20.0
11     1.0
12     3.0
13     5.0
14     7.0
15     9.0
16    11.0
17    13.0
18    15.0
19    17.0
20    19.0
21    21.0
dtype: float64

In [22]:
df = pd.DataFrame({"A": ["foo", "foo", "foo", "foo", "foo", "bar", "bar", "bar", "bar"],
                   "B": ["one", "one", "one", "two", "two", "one", "one", "two", "two"],
                   "C": ["small", "large", "large", "small", "small", "large", "small", "small", "large"],
                   "D": [1, 2, 2, 3, 3, 4, 5, 6, 7],
                   "E": [2, 4, 5, 5, 6, 6, 8, 9, 9]})
print(df)

     A    B      C  D  E
0  foo  one  small  1  2
1  foo  one  large  2  4
2  foo  one  large  2  5
3  foo  two  small  3  5
4  foo  two  small  3  6
5  bar  one  large  4  6
6  bar  one  small  5  8
7  bar  two  small  6  9
8  bar  two  large  7  9

In [23]:
table = pd.pivot_table(df, values='D', index=['A', 'B'], columns=['C'], aggfunc=np.sum)
print(table)

C        large  small
A   B
bar one    4.0    5.0
    two    7.0    6.0
foo one    4.0    1.0
    two    NaN    6.0

In [24]:
table = pd.pivot_table(df, values=['D', 'E'], index=['A', 'C'], aggfunc={'D': np.mean, 'E':np.mean})
print(table)

                  D         E
A   C
bar large  5.500000  7.500000
    small  5.500000  8.500000
foo large  2.000000  4.500000
    small  2.333333  4.333333

In [25]:
table = pd.pivot_table(df, values=['D', 'E'], index=['A', 'C'], aggfunc={'D': np.mean, 'E':[min,max,np.mean]})
print(table)

                  D   E
               mean max      mean min
A   C
bar large  5.500000   9  7.500000   6
    small  5.500000   9  8.500000   8
foo large  2.000000   5  4.500000   4
    small  2.333333   6  4.333333   2

In [26]:
a = np.array(["foo", "foo", "foo", "foo", "bar", "bar", "bar", "bar", "foo", "foo", "foo"], dtype=object)
b = np.array(["one", "one", "one", "two", "one", "one", "one", "two", "two", "two", "one"], dtype=object)
c = np.array(["dull", "dull", "shiny", "dull", "dull", "shiny", "shiny", "dull", "shiny", "shiny", "shiny"], dtype=object)
print(pd.crosstab(a, [b, c], rownames=['a'], colnames=['b', 'c']))

b    one        two
c   dull shiny dull shiny
a
bar    1     2    1     0
foo    2     2    1     2