In [4]:
# VARIABLES...

name = "Anubhav"
age = 21
salary = 70000
marital_status = "Single"

In [5]:
print(name)
print(age)
print(salary)
print(marital_status)

Anubhav
21
70000
Single

In [6]:
# REDECLARATION...

name = "gary"
friend_name = name
print(friend_name)

gary

In [7]:
# MULTIPLE VARIABLE DECLARTION...

aarav_age = dakshay_age = anubhav_age = 21
print("aarav's age is ", aarav_age)
print("dakshay's age is ", dakshay_age)
print("anubhav's age is ", anubhav_age)

aarav's age is  21
dakshay's age is  21
anubhav's age is  21

In [8]:
# STRINGS

name = 'charles'
print(name)
type(name)

# NUMERIC VARIABLES

sales_price_per_unit = 4.6
units_purchased = 4
print(sales_price_per_unit)
print(units_purchased)

# BOOLEAN

isStudent = True
has_paid_fees = False
print(isStudent)
print(has_paid_fees)

charles
4.6
4
True
False

In [9]:
# EXPLICIT CONVERSION

price = 250
tax = "2.5"
tp = price + float(tax)
print(tp)

252.5

In [10]:
# TYPE CASTING 

# int(), float(), bool(), str()

unit_price = 52.5
str(unit_price)

has_speed, no_speed = 1,0
bool(has_speed)
bool(no_speed)

False

In [11]:
# PRINT FUNCTION

print("hello", " mr. anubhav", sep = ",")
print("this exists a whitespace after this sentance")
print("\n"); 
print("there exists a \t whitespace above the sentence")

# CONCATENATION IN STRINGS

print("hello " + "world!")

# CONCATENATIONS WITH TYPECASTING 

print("hello world, this is a " + str(0) + str(9) + " number")

hello, mr. anubhav
this exists a whitespace after this sentance


there exists a 	 whitespace above the sentence
hello world!
hello world, this is a 09 number

In [12]:
# ARTHIMETIC OPERATIONS

value = "India "
count = 4
print(value * count)

# EXPONENTIAL OPERATOR

side_of_cube = 20
volume =  side_of_cube ** 3
print(volume)

India India India India
8000

In [15]:
# RUNTIME VARIABLE ASSIGNMENT 

name = input("Enter your name: ")
print('Welcome', name + '!')

price = int(input("Enter price: "))
qty = int(input("Enter Qty - "))

total_price = price * qty
print(total_price)

Welcome 2!
506

In [ ]:
# IDENTITY OPERATORS

a = [1, 2, 3, 4, 5]
b = [1, 2, 3, 4, 5]
c = a
print(a is b)
print(a == b)
print(a is not b)
print(a != b)

In [ ]:
# MEMBERSHIP OPERATORS

vowels = "aeiou"
print("a" in vowels)
print("x" not in vowels)
print("x" in vowels)

In [ ]:
# CONDTIONS

num = int(input("Enter your number - "))
if(num <= 9 and num != 0):
    print("Mercedes number - " "000" + str(num))
elif(num == 0):
    print("Lucky number - " + str(num))
else:
    print("Lamborghini number - " "00" + str(num))

In [ ]:
# WHILE-LOOP

# Q - summation upto n term

number = int(input("Enter your number - "))
addition = 0
while(number >= 0):
    addition += number
    number -= 1
print(addition)

# FOR-LOOP
addition1 = 0
number = range(1, 6) # RANGE means - [1, 2, 3, 4, 5];
for i in number:
    addition1 += i
print(addition1)

# NESTED FOR LOOP

levels = int(input("Enter the number for pattern"))
for level in range(1 , levels + 1):
    for num in range(0 , level):
        print(level, end = " ")
        
    print("\n")