In [1]:
# STRINGS

name = "charles"
print(name)
type(name)

charles

str

In [15]:
text = " i love python"
text[0]
text[0:9] # (including 0 and excluding 9)
text[1:len(text)]

'i love python'

In [24]:
# STRING IN-BUILT FUNCTION

text = ("I love Python")

text.replace("Python" , "Data Science")
text.upper() # converts to uppercase.
text.lower() # converts to lowercase.
text.title() # converts first letter of every word to uppercase.


date = "08" , "03" , "2020"
sep = '-'
sep.join(date) # join seperator and date

'08-03-2020'

In [32]:
# TRIM FUNCTION, REMOVES MENTIONED KEYWORD

text = "***I love Python Programming***"
text.strip("*")
text = "***I love**Python*Programming***"
text.strip("*")
text = "I love Python Programming***"
text.strip("I")

' love Python Programming***'

In [2]:
# LISTS

book_list = ["Arts, DS, Maths, Physics, Business"]
print(book_list)
type(book_list)

num1 = [1, 2, 3, 4, 5]
num2 = [6, 7, 8, 9, 10]
num3 = num1 + num2
print(num3)
type(num3)

# APPEND

num3.append(11)
type(num3)
print(num3)

# SORTING THE ELEMENTS IN LIST

avg_price = [1, 2, 4, 6, 1 ,0, 13, 15, 22]
avg_price.sort()
print(avg_price)

bakery = ["Dairy Milk" , "5Star" , "Twix" , "Aditya" , "Fuse"]
bakery.sort()
print(bakery)

# REVERSE THE ELEMENTS IN LIST

avg_price.sort(reverse=True)
print(avg_price)

['Arts, DS, Maths, Physics, Business']
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11]
[0, 1, 1, 2, 4, 6, 13, 15, 22]
['5Star', 'Aditya', 'Dairy Milk', 'Fuse', 'Twix']
[22, 15, 13, 6, 4, 2, 1, 1, 0]

In [67]:
# CHECKING PRESENCE IN LIST

userData = [2, 5, 3, 1, 7, 8, 20]
print(2 in userData)
print(10 in userData)
print(10 not in userData)

True
False
True

In [72]:
# ITERATING THROUGH LIST

Subjects = ["Data Science" , "AI" , "Machine Learning" , "Mathematics"]
for subject , key in enumerate(Subjects , 1) :
    print(subject , key)

1 Data Science
2 AI
3 Machine Learning
4 Mathematics

In [79]:
# LIST INBUILT FUNCTIONS

arrayList = [1, 2, 4, 6, 1, 9, 12]

len(arrayList)
max(arrayList)
min(arrayList)
print(arrayList)
arrayList.clear()
print(arrayList)

[1, 2, 4, 6, 1, 9, 12]
[]

In [89]:
# SHALLOW COPY & DEEP COPY

list1 = [1, 4, 5, 10]
list2 = list1

print(list1)
print(list2)

list2.append(2)

if(id(list1) == id(list2)):
    print("Same Location")
else:
    print("Not Same Location")
    
list3 = list1.copy()
print(list3)

if(id(list3) == id(list1)):
    print("Same Location")
else:
    print("Not Same Location")

[1, 4, 5, 10]
[1, 4, 5, 10]
Same Location
[1, 4, 5, 10, 2]
Not Same Location

In [21]:
# DEEP COPY

import copy
list1 = [1, 4, 5, 10]
list2 = copy.deepcopy(list1)
print("Before Modifications :")
print(list1)
print(list2)
list2[0] = -1
print("After Modifications :")
print(list1)
print(list2)
if(id(list1) == id(list2)):
    print("Same Location")
else:
    print("Not Same Location")

Before Modifications :
[1, 4, 5, 10]
[1, 4, 5, 10]
After Modifications :
[1, 4, 5, 10]
[-1, 4, 5, 10]
Not Same Location

In [28]:
# COUNT NUMBER OF OCCURENCES

retail_prod = [1, 2, 1, 3, 1, 5, 1, 1]
print(retail_prod.count(1))

# EXTENDING A LIST

list1 = [1, 2, 3, 4, 5]
list2 = [6, 7, 8, 9, 10]
list1.extend(list2)
print(list1)

5
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [34]:
# RETURNING THE INDEX POSITION OF AN OBJECT

products = ["milk", "curd", "bakery", "shampoo", "silver", "car"]
print(products.index("bakery"))

# INSERT A NEW ELEMENT AT A SPECIFIC POSITION

products.insert(1, "watch")
print(products)

2
['milk', 'watch', 'curd', 'bakery', 'shampoo', 'silver', 'car']

In [41]:
# REMOVING FROM A LIST 

# 1 USING POP METHOD
print("REMOVED BAKERY - ")
products = ["milk", "curd", "bakery", "shampoo", "silver", "car"]
products.pop(2)
print(products)

# 2 USING REMOVE METHOD
print("REMOVED MILK - ")
products.remove("milk")
print(products)

# REVERSING A LIST
print("REVERSED THE LIST - ")
products.reverse()
print(products)

REMOVED BAKERY -
['milk', 'curd', 'shampoo', 'silver', 'car']
REMOVED MILK -
['curd', 'shampoo', 'silver', 'car']
REVERSED THE LIST -
['car', 'silver', 'shampoo', 'curd']

In [55]:
# INDEXING AND SLICING LIST # LIST[START:STOP:INCREMENT]

products = ["milk", "curd", "bakery", "shampoo", "silver", "car"]
print(products[0:3])
print(products[3:4])
print(products[0:4:2])
print(products[0::3])

# SLICING USING NEGATIVE INDEXING
retail_prod = [1, 2, 1, 3, 1, 5, 1, 1]
print(retail_prod[3:-1])
print(retail_prod[3:-3])

['milk', 'curd', 'bakery']
['shampoo']
['milk', 'bakery']
['milk', 'shampoo']
[3, 1, 5, 1]
[3, 1]

In [62]:
# TUPLES 

items_purc = ("tea", "sugar", "coffee", "honey", 1, 23.3, 4)
print(items_purc)

# CONCATENATION

lis1 = (1, 2, 3, 4)
lis2 = (5, 6, 7, 8)
print(lis1 + lis2)
print(2 in lis2)
print(2 in lis1)

('tea', 'sugar', 'coffee', 'honey', 1, 23.3, 4)
(1, 2, 3, 4, 5, 6, 7, 8)
False
True

In [83]:
# ITERATING THE TUPLES

lis1 = (1, 2, 3, 4, 5)
for num in lis1:
    print(num)
print("LENGTH :" , len(lis1))
print("MAX :" , max(lis1))
print("MAX :" , min(lis1))

1
2
3
4
5
LENGTH : 5
MAX : 5
MAX : 1

In [85]:
# APPENDING A LIST IN A TUPLE

orderId = (11, 12, 13, 14, 15, [1, 2, 3, 4, 5])
orderId[5].append(6)
print(orderId)

(11, 12, 13, 14, 15, [1, 2, 3, 4, 5, 6])

In [96]:
# INTRO DICTIONAIRIES 

#CREATING A DICTIONARY
books = {"intro to ML" : 20,
        "intro to stats" : 21,
         "intro to dp" : 22,
         "intro to java" : 23
        }

print("CREATED A DICTIONARY -" , books)

#ADDING A ELEMENT INTO A DICTIONARY
books["intro to python"] = 1
print("ADDED TO DICTIONARY -" , books)
del books["intro to dp"]
print("REMOVED FROM DICTIONARY -" , books)

CREATED A DICTIONARY - {'intro to ML': 20, 'intro to stats': 21, 'intro to dp': 22, 'intro to java': 23}
ADDED TO DICTIONARY - {'intro to ML': 20, 'intro to stats': 21, 'intro to dp': 22, 'intro to java': 23, 'intro to python': 1}
REMOVED FROM DICTIONARY - {'intro to ML': 20, 'intro to stats': 21, 'intro to java': 23, 'intro to python': 1}

In [101]:
# Q - FINDING NUMBERS OF WORDS IN A STRING

twister = "can you can a can as a canner can can a can"
word_count = {}
for word in twister.split(): # .split() creates the twister into the list, twister = ["can" , "you" etc...]
    if word not in word_count:
        word_count[word] = 1
    else:
        word_count[word] += 1
print(word_count)

print("PRINTING THE DICTIONARY -")
for key, value in word_count.items():
    print(key, value)

{'can': 6, 'you': 1, 'a': 3, 'as': 1, 'canner': 1}
PRINTING THE DICTIONARY -
can 6
you 1
a 3
as 1
canner 1

In [107]:
# GET AND SET A ELEMENT IN A DICTIONARY 

items_purc = {'sanitizer' : 1, 'hanger set' : 3, 'clothes' : 5}
print("AMOUNTS DUE IN :" , items_purc.get("clothes"))
items_purc.setdefault("wallets", 4.5)
print (items_purc)

AMOUNTS DUE IN : 5
{'sanitizer': 1, 'hanger set': 3, 'clothes': 5, 'wallets': 4.5}

In [115]:
# CONVERSATIONS OF DICTIONARY FROM A TUPLE

tup = ('order_id', 'cust_id', 'purc_id')
dict1 = dict.fromkeys(tup, 8) # if 8 is not mentioned, it will take value as none.
print(dict1)
del dict1['purc_id']
print(dict1)

{'order_id': 8, 'cust_id': 8, 'purc_id': 8}
{'order_id': 8, 'cust_id': 8}

In [122]:
# ZIP METHOD

items = ['glass', 'door', 'marble', 'pink', 'blue']
price = [1, 2, 3, 4, 5]
dictionary = dict(zip(items, price))
print(dictionary)

{'glass': 1, 'door': 2, 'marble': 3, 'pink': 4, 'blue': 5}

In [126]:
# LIST COMPREHENSION

#USING LOOP
series_num = []
for i in range(1, 11):
    series_num.append(i*i)
print(series_num)

# USING A LIST COMPREHENSION
sq_sum = [i*i for i in range(1, 10)]
print(sq_sum)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]
[1, 4, 9, 16, 25, 36, 49, 64, 81]

In [132]:
# Q - READING THE FIRST LETTER OF EVERY WORD IN A LIST

products = ['dairy', 'milk', 'cat', 'kit', 'maks']

first_l = [v[0] for v in products]
print(first_l)

text = "he 1 me 33 row hello 333"
only_num = [int(i) for i in text.split() if i.isdigit() == True]
print(only_num)

['d', 'm', 'c', 'k', 'm']
[1, 33, 333]

In [157]:
# Q - STRINGS IN THE LIST NO LONGER THAN 9 LETTERS

products = ['Apparels','Crokeries', 'Cosmetics', 'Beverages', 'Detergents']

short = [word for word in products if len(word) >= 9]
print(short)

['Crokeries', 'Cosmetics', 'Beverages', 'Detergents']